h1{
	color: purple; 
	font-family: cursive;
}
h3{
	color: rgb(34,177,76);
	font-weight: bold;
}
#content{
	padding-left: 15em;
	padding-right: 15em;
}
span{
	font-weight: bold;
}
li{
	text-decoration: none;
	list-style: none;
}

#day_care{
	float: right;
}
.com{
	display: inline-block;
}