body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 14px;
}
#bground > img{
    height: 100px;
    width: 600px;
    margin-left: -30px;
    
}
div{
    text-align: center;
    margin-top: 10px;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
   
}

#nav li {
    display: inline-block;
    font-size: 15px;
    margin: 0;
}

#nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li:hover:not(.active), ul:hover dd   {
    background-color: rgb(34,177,76);
    border-radius: 5px;
}
.active{
	background-color: rgb(34,177,76);
    border-radius: 5px;
}
#nav ul li:hover ul{
    display: block;
	z-index: 1000;
}
#nav ul ul{
    display: none;
    position: absolute;
    background-color: rgb(44,200,86);
    border-radius: 5px;
}
#nav ul ul li{
    display: block;
}
img{
    height: 50px;
    width: 50px;
}
.dd img{
    vertical-align: middle;
    padding-left: 10px;
    height:10px;
    width:10px;
}
#footer{
    position: relative;
    bottom: 0;
}
#social {
    position: fixed;
    bottom: 0;
    left: 0;
}    
#rights{
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
}
.icon img{
    float: right;
    padding-left: 5px;
    margin-bottom: 5px;
}
.location {
    float: RIGHT;
    margin-right: 100px;
    margin-bottom: 50px;
    border: 6px solid rgb(34,177,76);
    padding: 5px;
}
.contact {
    display: inline-block;
    margin-top: 50px;
}
.contact_pic img{
	height: 200px;
	width: 200px;
	border-radius: 100%;
}	
.contact_pic{
	margin-left: 50px;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: 8px solid rgb(34,177,76);
}
span{
    font-weight:bold;
}
.calendar{
	text-align:center;
}
#location{
	float: RIGHT;
    margin-right: 100px;
    margin-bottom: 50px;
    border: 6px solid rgb(34,177,76);
    padding: 5px;
}	
.view-cap, .view-container-border {
    background-color: #FFFFFF;
}